In [3]:
from drawdata import draw_line, draw_scatter, draw_histogram
import pandas as pd

In [4]:
draw_scatter()

In [5]:
df = pd.read_clipboard(sep=",")

df.head()

            x          y  z
0  117.021631  81.673598  a
1   41.858748  30.678360  a
2   73.203935  76.486217  a
3   85.077557  48.339112  a
4  127.000439  43.303448  a

In [6]:
df.to_csv('fake-data.csv', index=False)